.appBar {
  position: fixed;
  padding: 1% 10%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  color: $font;
  border-bottom: 4px solid $bold;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-content: center;
  @include mobile-port {
    flex-direction: column;
    align-content: center;
  }
  button {
    width: 90px;
    height: 90px;
    border: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0;
    background-color: $transparent;
    @include mobile-port {
      width: 100px;
      height: 100px;
    }
  }
}

.settingContainer {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mobile-port {
    width: 100%;
    justify-content: center;
  }
  .setting {
    color: $bold;
    width: 100px;
    height: 70px;
    font-size: 30px;
    @include tablet-port {
      width: 30%;
    }
    h3 {
      font-size: 12px;
      margin-top: 5px;
      margin: 0;
      padding: 0;
      @include mobile-port {
        font-size: 10px;
      }
    }
  }
}


.homeIcon {
  color: $bold;
  transform: scale(0);
  transition: transform 1s;
  width: 100%;
  @include mobile-port {
    font-size: 0.7rem;
  }
}

.homeIcon.iconShow {
  @include mobile-port {
    transform: scale(1.2);
  }
}
