.appBar {
  height: auto;
  color: $font;
  padding: 2% 0 2% 0;
  display: flex;
  border-bottom: 4px solid $bold;
  @include mobile-port {
    flex-direction: column;
    height: auto;
    padding-top: 5%;
    align-content: center;
  }
  button {
    border: rgba(255, 255, 255, 0);
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0;
  }
}

.settingContainer {
  @include mobile-port {
    height: auto;
  }
  .setting {
    color: $bold;
  }
}

.home {
  position: absolute;
  color: rgba(255, 255, 255, 0);
}

.homeIcon {
  color: $tint;
  transform: scale(0);
  transition: transform 1s;
}

.homeIcon.iconShow {
  @include mobile-port {
    transform: scale(1.2);
  }
}
