.appBar {
  height: 220px;
  color: $font;
  padding: 50px 2% 50px 2%;
  // border: 1px solid rgb(204, 22, 143); // just for boundry lines *will remove*
  display: flex;
  border-bottom: 4px solid $bold;
  @include mobile-land {
    border-bottom: 4px solid $bold;
  }
  @include mobile-port {
    flex-direction: column;
    height: 300px;
  }
  button {
    object-fit: contain;
    height: 100%;
    position: relative;
    @include mobile-port {
      border: none;
    }
  }
}

.settingContainer .setting {
  color: $bold;
}

.home {
  color: rgba(255, 255, 255, 0);
}

.homeIcon {
  color: $tint;
  transform: scale(0);
  transition: transform 1s;
}

.homeIcon.iconShow {
  @include mobile-port {
    transform: scale(1.2);
  }
}
