.seasonContainer,
.timeContainer,
.colorContainer,
.photosContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  h1 {
    font-size: 3rem;
    width: 100%;
    padding-top: 30px;
    @include tablet-port {
      // 950
      font-size: 2.5rem;
    }
    @include mobile-port {
      // 560
      font-size: 2rem;
    }
  }
}

.colorContainer h1 {
  min-height: 80px;
}

.seasonChoiceContainer,
.timeChoiceContainer,
.colorChoiceContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  @include mobile-port {
    // 560
    margin-top: 10px;
  }
}

.seasonChoiceContainer .choice,
.timeChoiceContainer .choice {
  min-width: 200px;
  height: 170px;
  margin: 1.5%;
  border: 4px solid $tint;
  background-color: white;
  @include tablet-port {
    // 950
    width: 150px;
    min-width: 150px;
    min-height: 140px;
    max-height: 100px;
  }
  @include tablet-land {
    // 780
    width: 100px;
    margin: 0.5%;
  }
  @include mobile-port {
    min-width: 120px;
    min-height: 100px;
  }
  &:hover {
    background-color: $primaryLite;
  }
  button {
    padding: 10%;
    border: $transparent;
    &:hover,
    &:focus {
      background-color: $primaryLite;
      color: $accent;
    }
    label .choiceIcon .setting {
      @include mobile-port {
        font-size: 30px;
      }
    }
  }
}

.choice.selected {
  border: 4px solid $accent;
  .setting * {
    color: $font;
  }
}

.seasonChoiceContainer .choice:focus-within,
.timeChoiceContainer .choice:focus-within {
  background-color: $primaryLite;
  color: $accent;
}

.colorChoice input {
  position: absolute;
}

.colorChoice {
  height: auto;
  margin: 60px 10px 20px 10px;
  border: 4px solid $tint;
  @include tablet-port {
    // 840
    margin: 50px 10px 20px;
  }
  @include mobile-port {
    transform: rotate(90deg);
    margin: 30px 10px 10px;
  }
  button {
    position: relative;
    height: auto;
    border: 4px solid $transparent;
    padding: 15px;
    transition: all 1s;
    &:hover .colorSelect,
    &:focus .colorSelect {
      transform: scale(1.2);
    }
    &:hover h3,
    &:focus h3,
    &:hover .colorOne,
    &:focus .colorOne {
      color: $accent;
      transform: scale(1.2);
    }
    @include tablet-port {
      padding: 5px;
    }
    h3 {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      position: absolute;
      top: -60px;
      left: 0;
      width: 100%;
      height: auto;
      text-align: center;
      font-family: "Spartan";
      font-size: 1.3rem;
      transition: all 1s;
      @include mobile-port {
        font-size: 1.2rem;
        transform: rotate(-90deg) !important;
        left: -60px;
        top: 20px;
      }
      span {
        display: inline-block;
      }
    }
  }
}

.colorChoiceIcon {
  &:hover .colorSelect,
  &:focus .colorSelect {
    transform: scale(1.2);
  }
}

.colorOne,
.colorTwo {
  margin: 0 auto;
  border: 4px solid white;
}

.colorOne {
  height: 60px;
  width: 60px;
  margin-top: -10px;
  transition: transform 0.9s;
  @include tablet-port {
    width: 50px;
    height: 50px;
  }
  &:hover {
    transform: scale(1.2);
  }
}

.colorTwo {
  height: 60px;
  width: 60px;
  @include tablet-port {
    width: 50px;
    height: 50px;
  }
  @include mobile-port {
    height: 30px;
  }
}

.colorSelect {
  transform: scale(0.001);
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: $accent;
  transition: transform 1s;
  @include tablet-port {
    // 960
    bottom: 15px;
    left: 15px;
  }
}

.selected {
  background-color: $primaryLite;
  color: $font;
  border: 4px solid $accent;
  .colorTitle {
    transform: scale(1.2);
    @include mobile-land {
      transform: scale(1.1);
    }
  }
}

.colorChoice.selected {
  .colorSelect {
    transform: scale(1);
  }
}
