// GENERAL LOGO
.logo {
  font-family: "DM Sans";
  .logoBorder {
    display: flex;
    img {
      object-fit: cover;
    }
  }
}



// BAR LOGO
.barLogo .logo .logoBorder {
  width: 150px;
  height: 150px;
}
.barLogo {
  height: 150px;
}


// SPLASH PAGE LOGO
.splashLogo .logo .logoBorder {
  width: 35%;
  margin: 0 auto;
  @include mobile-land {
    width: 70%;
  }
}



// HOME LOGO ON MOBILE
.homeLogo.logoHide {
  @include mobile-port {
    display: none;
  }
}
