// GENERAL LOGO
.logo {
  font-family: "DM Sans";
  .logoBorder {
    display: flex;
    position: relative;
    img {
      max-width: 100%;
      object-fit: contain;
      border: 0.1px solid rgba(255, 255, 255, 0);
      background-color: white;
    }
  }
}

.logoBorder .leafOne {
  position: absolute;
  img {
     background: $transparent
  }   
}


// BAR LOGO
.barLogo {
  height: 150px;
  @include mobile-port {
    height: 100px;
  }
  button:hover img {
    background-color: $primaryLite;
  }
  .logo .logoBorder {
    width: 150px;
    height: 150px;
    @include mobile-port {
      width: 100px;
      height: 100px;
    }
  }
}

// SPLASH PAGE LOGO
.splashLogo .logo .logoBorder {
  width: 35%;
  margin: 0 auto;
  @include mobile-land {
    width: 70%;
  }
}

// HOME LOGO ON MOBILE
.homeLogo.logoHide {
  @include mobile-port {
    display: none;
  }
}
