.mainContainer {
  position: relative;
  color: $font;
  width: 100%;
  height: calc(100% - 160px);
  padding: 2%;
  // border: 1px solid rgb(200, 197, 197); // just for boundry lines *will remove*
  button {
    width: 150px;
    height: 50px;
    font-size: 2.5rem;
    position: absolute;
    bottom: 150px;
    right: 0;
  }
}