.settingContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  @include mobile-port {
    justify-content: center;
  }
  .setting {
    width: 25%;
    margin-top: 30px;
    @include tablet-port {
      width: 30%;
    }
  }
}

.setting {
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  font-size: 50px;
  color: $tint;
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    @include tablet-port {
      font-size: 15px;
    }
  }
}
