.splash {
  height: 100%;
  color: $font;
  padding-top: 8%;
  @include short {
    height: 90vh;
    padding: 8%;
    display: flex;
    justify-content: space-between;
  }
  @include tablet-port-short {
    padding: 2%;
    min-height: 200px;
  }
  @include mobile-port-short {
    flex-direction: column;
    padding: 8%;
    justify-content: flex-start;
  }
}

.splashControl {
  @include short {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 3;
    margin: 5px;
  }
  @include mobile-port-short {
    width: 100%;
    height: 20%;
  }
  button {
    width: 30%;
    height: 90px;
    padding: 2%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 2.9rem;
    transition: all 1s;
    @include tablet-port {
      font-size: 2rem;
    }
    @include mobile-land {
      width: 70%;
    }
    @include short {
      height: 100%;
      width: 100%;
      margin: 0;
      border: 4px solid $tint;
    }
  }
}

.splashInfo {
  @include short {
    width: 33%;
    border: 4px solid $tint;
    border-right: none;
    // border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    order: 2;
    margin: 5px;
  }
  @include mobile-port-short {
    width: 100%;
    border-left: none;
  }
  h1 {
    margin: 0 auto;
    max-width: 75%;
    color: $font;
    font-family: "DM Sans";
    font-size: 2.7rem;
    text-align: center;
    margin-top: 20px;
    transition: all 1s;
    @include tablet-port {
      font-size: 2rem;
    }
    @include mobile-land {
      font-size: 2.2rem;
      max-width: 70%;
      margin: 0 auto;
      margin-top: 20px;
    }
    @include short {
      margin: 0;
      padding: 0;
      align-self: center;
      font-size: 1.6rem;
    }
    @include mobile-port-short {
      font-size: 2.2rem;
      padding: 2%;
    }
  }
}
