.splash {
  height: 100%;
  color: $font;
  padding-top: 6%;
  button {
    width: 35%;
    height: 130px;
    padding: 2%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 3.5rem;
    @include mobile-land {
      width: 70%;
    }
  }
}

.splash h1 {
  margin: 0 auto;
  max-width: 75%;
  color: $font;
  font-family: "DM Sans";
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
  transition: font-size 1s;
  @include mobile-land {
    font-size: 2.5rem;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

