
// Web Page
.primary { color: $primary; }
.bold { color: $bold; }
.accent { color: $accent; }
.font { color: $font; }
.tint { color: $tint; }


.gold {
  background-color: #D4AF37;
}

.navy {
  background-color: #2F3146;

}

.canary {
  background-color: #F5F847;
}


.grey {
  background-color: #7E7C81;
}


.emerald {
  background-color: #105C58;
}


.burgundy {
  background-color: #61242B;
}


.ivory {
  background-color: #FAFBED;
}


.fuschia {
  background-color: #D01D4E;
}


.tangerine {
  background-color: #FA791C;
}

.sage {
  background-color: #C1D4C0;
}

.lavender {
  background-color: #B8ACC2;
}


.bronze {
  background-color: #AC704E;
}

.brown {
  background-color: #56483D;
}

.peach {
  background-color: #F6B492;
}

.blue {
  background-color: #B4CEE7;
}

.pink {
  background-color: #F2CED2;
}

.black {
  background-color: #222423;
}

.aqua {
  background-color: #99E1FA;
}

.silver {
  background-color: #9EA09D;
}

.purple {
  background-color: #4A0161;
}

.yellow {
  background-color: #FAE84A;
}

.periwinkle {
  background-color: #788AD4;
}

.mint {
  background-color: #86AA92;
}

.taupe {
  background-color: #CCC6B8;
}

.magenta {
  background-color: #EA5AA0;
}
