$primary: #eff7f5;
$primaryLite: #65ffcc;
$bold: rgb(112, 147, 150); // 8cb7bb
$accent: rgb(128, 50, 104); // 803268
$font: rgb(71, 69, 69);
$tint: rgb(63, 114, 122); // 3f727a
$transparent: rgba(255, 255, 255, 0);