// teal-aqua
// $primary: #eff7f5;
// $primaryLite: #65ffcc;
// $bold: rgb(112, 147, 150); // 8cb7bb
// $accent: rgb(128, 50, 104); // 803268
// $font: rgb(71, 69, 69);
// $tint: rgb(63, 114, 122); // 3f727a

// megenta pink
// $primary: #fcf3f6;
// $primaryLite: #fdeda7;
// $bold: rgb(151, 111, 133); // 8cb7bb
// $accent: rgb(39, 18, 78); // 803268
// $font: rgb(71, 69, 69);
// $tint: rgb(170, 0, 71); // 3f727a


// staples
$transparent: rgba(255, 255, 255, 0);


// new provance
$primary: #eeeff1;
$primaryLite: #FCF6D7;
$bold: #D696A2; 
$accent: #2D330C; 
$tint: #909B5C;  
$font: #444F09; 