@import url("https://fonts.googleapis.com/css?family=DM+Sans:700|Spartan&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.primary {
  color: #eeeff1;
}

.bold {
  color: #D696A2;
}

.accent {
  color: #2D330C;
}

.font {
  color: #444F09;
}

.tint {
  color: #909B5C;
}

.gold {
  background-color: #D4AF37;
}

.navy {
  background-color: #2F3146;
}

.canary {
  background-color: #F5F847;
}

.grey {
  background-color: #7E7C81;
}

.emerald {
  background-color: #105C58;
}

.burgundy {
  background-color: #61242B;
}

.ivory {
  background-color: #FAFBED;
}

.fuschia {
  background-color: #D01D4E;
}

.tangerine {
  background-color: #FA791C;
}

.sage {
  background-color: #C1D4C0;
}

.lavender {
  background-color: #B8ACC2;
}

.bronze {
  background-color: #AC704E;
}

.brown {
  background-color: #56483D;
}

.peach {
  background-color: #F6B492;
}

.blue {
  background-color: #B4CEE7;
}

.pink {
  background-color: #F2CED2;
}

.black {
  background-color: #222423;
}

.aqua {
  background-color: #99E1FA;
}

.silver {
  background-color: #9EA09D;
}

.purple {
  background-color: #4A0161;
}

.yellow {
  background-color: #FAE84A;
}

.periwinkle {
  background-color: #788AD4;
}

.mint {
  background-color: #86AA92;
}

.taupe {
  background-color: #CCC6B8;
}

.magenta {
  background-color: #EA5AA0;
}

.logo {
  font-family: "DM Sans";
}

.logo .logoBorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.logo .logoBorder img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 0.1px solid rgba(255, 255, 255, 0);
  background-color: white;
}

@-webkit-keyframes leafL {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  100% {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
    margin-right: 45%;
  }
}

@keyframes leafL {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  100% {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
    margin-right: 45%;
  }
}

@-webkit-keyframes leafLB {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin-right: 40%;
    margin-top: 10%;
  }
}

@keyframes leafLB {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin-right: 40%;
    margin-top: 10%;
  }
}

@-webkit-keyframes leafC {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-top: 0%;
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
    margin-top: -30%;
  }
}

@keyframes leafC {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-top: 0%;
  }
  70% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
    margin-top: -30%;
  }
}

@-webkit-keyframes leafCB {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-top: 0%;
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    margin-top: -13%;
  }
}

@keyframes leafCB {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    margin-top: 0%;
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    margin-top: -13%;
  }
}

@-webkit-keyframes leafR {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  100% {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
    margin-left: 50%;
  }
}

@keyframes leafR {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  70% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
  100% {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
    margin-left: 50%;
  }
}

@-webkit-keyframes leafRB {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.65) rotate(10deg);
            transform: scale(0.65) rotate(10deg);
    margin-left: 40%;
    margin-top: 8%;
  }
}

@keyframes leafRB {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.65) rotate(10deg);
            transform: scale(0.65) rotate(10deg);
    margin-left: 40%;
    margin-top: 8%;
  }
}

.logoBorder .leafLeft {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: leafL 2s ease-out;
          animation: leafL 2s ease-out;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.logoBorder .leafLeftBottom {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: leafLB 1s ease-out;
          animation: leafLB 1s ease-out;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.logoBorder .leafCenter {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: leafC 2s ease-out;
          animation: leafC 2s ease-out;
}

.logoBorder .leafCenterBottom {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: leafCB 1s ease-out;
          animation: leafCB 1s ease-out;
}

.logoBorder .leafRight {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: leafR 2s ease-out;
          animation: leafR 2s ease-out;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.logoBorder .leafRightBottom {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: leafRB 1s ease-out;
          animation: leafRB 1s ease-out;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.logoBorder .leaf {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1s;
  transition: all 1s;
  top: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.logoBorder .leaf img {
  background: rgba(255, 255, 255, 0);
}

.barLogo {
  height: 150px;
}

@media (max-width: 560px) {
  .barLogo {
    height: 100px;
  }
}

.barLogo button:hover img:not(.leafImage) {
  background-color: #FCF6D7;
}

.barLogo .logo .logoBorder {
  width: 150px;
  height: 150px;
}

@media (max-width: 560px) {
  .barLogo .logo .logoBorder {
    width: 100px;
    height: 100px;
  }
}

.splashLogo {
  margin: 0 auto;
}

.splashLogo .logo .logoBorder {
  width: 35%;
  margin: 0 auto;
}

@media (max-width: 780px) {
  .splashLogo .logo .logoBorder {
    width: 70%;
  }
}

@media (max-width: 560px) {
  .homeLogo.logoHide {
    display: none;
  }
}

.appBar {
  position: fixed;
  padding: 1% 10%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  height: auto;
  color: #444F09;
  border-bottom: 4px solid #D696A2;
  background-color: #eeeff1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 560px) {
  .appBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 5%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.appBar button {
  border: rgba(255, 255, 255, 0);
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
}

@media (max-width: 560px) {
  .appBar button {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 560px) {
  .settingContainer {
    height: auto;
  }
}

.settingContainer .setting {
  color: #D696A2;
}

.home {
  position: absolute;
  color: rgba(255, 255, 255, 0);
}

.homeIcon {
  color: #D696A2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 100%;
}

@media (max-width: 560px) {
  .homeIcon {
    font-size: 0.7rem;
  }
}

@media (max-width: 560px) {
  .homeIcon.iconShow {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.mainContainer {
  color: #444F09;
  width: 100%;
  height: 100%;
  padding-top: 250px;
  padding-bottom: 100px;
}

@media (max-width: 780px) {
  .mainContainer {
    margin-bottom: 100px;
    border: 4px solid rgba(255, 255, 255, 0);
  }
}

.mainContainer button {
  width: 100%;
  height: 80px;
  font-size: 2.5rem;
  bottom: 0;
  right: 0;
}

.mainContainer button a {
  text-decoration: none;
  color: #909B5C;
  display: inline-block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

button.oneWay {
  width: 100%;
}

button.twoWay {
  width: 50%;
}

.next {
  border-left: none;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.splash {
  height: 100%;
  color: #444F09;
  padding-top: 6%;
}

.splash button {
  width: 35%;
  height: 100px;
  padding: 2%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 3.3rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 850px) {
  .splash button {
    font-size: 2.5rem;
  }
}

@media (max-width: 780px) {
  .splash button {
    width: 70%;
  }
}

.splash h1 {
  margin: 0 auto;
  max-width: 75%;
  color: #444F09;
  font-family: "DM Sans";
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 780px) {
  .splash h1 {
    font-size: 2.5rem;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.settingContainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 560px) {
  .settingContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.settingContainer .setting {
  width: 25%;
  margin-top: 30px;
}

@media (max-width: 850px) {
  .settingContainer .setting {
    width: 30%;
  }
}

.setting {
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  font-size: 50px;
  color: #909B5C;
}

.setting h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

@media (max-width: 850px) {
  .setting h3 {
    font-size: 15px;
  }
}

@media (max-width: 560px) {
  .appBar .settingContainer .setting {
    margin-top: 10px;
  }
}

@media (max-width: 560px) {
  .appBar .settingContainer .setting * {
    font-size: 1.8rem;
  }
}

@media (max-width: 560px) {
  .appBar .settingContainer .setting h3, .appBar .settingContainer .setting span {
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.seasonContainer,
.timeContainer,
.colorContainer {
  width: 100%;
  height: 100%;
  min-height: 400px;
  margin: 0 auto;
}

.seasonContainer h1,
.timeContainer h1,
.colorContainer h1 {
  font-size: 3.5rem;
  width: 100%;
  padding-top: 40px;
}

@media (max-width: 560px) {
  .seasonContainer h1,
  .timeContainer h1,
  .colorContainer h1 {
    min-height: 200px;
    font-size: 3rem;
  }
}

.seasonChoiceContainer,
.timeChoiceContainer,
.colorChoiceContainer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
}

.seasonChoiceContainer .choice,
.timeChoiceContainer .choice {
  min-width: 200px;
  height: 170px;
  margin: 1.5%;
  border: 4px solid #909B5C;
  background-color: white;
}

@media (max-width: 850px) {
  .seasonChoiceContainer .choice,
  .timeChoiceContainer .choice {
    width: 150px;
    min-width: 150px;
    min-height: 140px;
    max-height: 100px;
  }
}

.seasonChoiceContainer .choice:hover,
.timeChoiceContainer .choice:hover {
  background-color: #FCF6D7;
}

.seasonChoiceContainer .choice button,
.timeChoiceContainer .choice button {
  padding: 10%;
  border: none;
  min-height: 120px;
}

.seasonChoiceContainer .choice button:hover, .seasonChoiceContainer .choice button:focus,
.timeChoiceContainer .choice button:hover,
.timeChoiceContainer .choice button:focus {
  background-color: #FCF6D7;
  color: #2D330C;
}

.choice.selected {
  border: 4px solid #2D330C;
}

.choice.selected .setting * {
  color: #444F09;
}

.seasonChoiceContainer .choice:focus-within,
.timeChoiceContainer .choice:focus-within {
  background-color: #FCF6D7;
  color: #2D330C;
}

.colorChoice input {
  position: absolute;
}

.colorChoice {
  position: relative;
  width: auto;
  height: auto;
  margin: 5% 2%;
  border: 4px solid #909B5C;
}

@media (max-width: 850px) {
  .colorChoice {
    margin: 50px 5%;
  }
}

@media (max-width: 780px) {
  .colorChoice {
    height: 180px;
  }
}

.colorChoice h3 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -60px;
  width: 80%;
  height: auto;
  text-align: center;
  font-family: "Spartan";
  font-size: 1.6rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.colorChoice button {
  border: none;
  height: 100%;
  padding: 10px;
}

.colorChoice button:hover .colorSelect,
.colorChoice button:focus .colorSelect {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.colorChoice button:hover h3,
.colorChoice button:focus h3,
.colorChoice button:hover .colorOne,
.colorChoice button:focus .colorOne {
  color: #2D330C;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.colorChoiceIcon:hover .colorSelect,
.colorChoiceIcon:focus .colorSelect {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.colorOne,
.colorTwo {
  margin: 0 auto;
  border: 4px solid white;
}

.colorOne {
  height: 90px;
  width: 90px;
  margin-top: -10px;
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

@media (max-width: 850px) {
  .colorOne {
    width: 80px;
    height: 80px;
  }
}

.colorOne:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.colorTwo {
  height: 80px;
  width: 80px;
}

.colorSelect {
  -webkit-transform: scale(0.001);
          transform: scale(0.001);
  position: absolute;
  bottom: 50px;
  left: 45px;
  color: #2D330C;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.selected {
  background-color: #FCF6D7;
  color: #444F09;
  border: 4px solid #2D330C;
}

.selected .colorTitle {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 780px) {
  .selected .colorTitle {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.colorChoice.selected .colorSelect {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 560px) {
  .photosContainer {
    padding: 0 5%;
  }
}

.ideasContainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ideasContainer button {
  padding: 0;
  margin-top: 10%;
  height: 400px;
  width: 90px;
  background-color: rgba(255, 255, 255, 0);
  border: 4px solid rgba(255, 255, 255, 0);
}

.ideasContainer button:hover, .ideasContainer button:focus {
  background-color: rgba(255, 255, 255, 0);
}

.buttonControl.layout .icoControl {
  color: #2D330C;
}

.ideasPhotoPage:focus-within {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 8000;
}

.displayControl {
  border: 4px solid #444F09;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.displayControl button,
.displayControl .buttonSpace {
  width: 30%;
  border: none;
  color: #d1d6ba;
}

.displayControl button *,
.displayControl .buttonSpace * {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 560px) {
  .displayControl button *,
  .displayControl .buttonSpace * {
    font-size: 2.7rem;
  }
}

.displayControl button:hover *,
.displayControl button:focus *,
.displayControl .buttonSpace:hover *,
.displayControl .buttonSpace:focus * {
  color: #2D330C;
}

.ideasPhotoPage {
  width: 50%;
  height: 100%;
  border: 4px solid #2D330C;
  max-height: 350px;
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.ideasPhotoPage:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 8000;
}

.ideasPhotoPage:hover button {
  height: 20%;
}

.ideasPhotoPage:hover .ideasIconContainer {
  background-color: #696b70d8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 25%;
  margin: 0 auto;
  padding: 0;
}

.ideasPhotoPage:hover .ideaIco {
  font-size: 3rem;
  margin: 0 auto;
}

.ideasPhotoPage:hover h3 {
  width: 60%;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

@media (max-width: 1250px) {
  .ideasPhotoPage {
    min-width: 380px;
    min-height: 450px;
  }
}

@media (max-width: 850px) {
  .ideasPhotoPage {
    min-width: 150px;
  }
}

@media (max-width: 780px) {
  .ideasPhotoPage {
    min-width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  .ideasPhotoPage {
    margin-top: 20px;
    border: 4px solid #2D330C;
    overflow: hidden;
    min-height: 300px;
    height: 300px;
  }
  .ideasPhotoPage:hover h3 {
    font-size: 1rem;
  }
}

.ideasPhotoPage img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 2000;
  max-width: 100%;
  display: block;
}

@media (max-width: 1250px) {
  .ideasPhotoPage img {
    min-height: 600px;
  }
}

@media (max-width: 560px) {
  .ideasPhotoPage img {
    min-height: 310px;
  }
}

.ideasIconContainer {
  width: 100%;
  height: 79px;
  position: absolute;
  color: #eeeff1;
  background-color: #696b70e3;
  z-index: 3000;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.5s, width 0.5s;
  transition: background-color 0.5s, width 0.5s;
}

.ideasIconContainer button:focus .ideaIco {
  font-size: 3rem;
  margin: 0 auto;
}

.ideasIconContainer button {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  border: 1px solid rgba(255, 255, 255, 0);
}

.ideasIconContainer button:focus {
  font-size: 1.5rem;
}

.ideasIconContainer button .ideaIco {
  font-size: 4rem;
  color: #FCF6D7;
}

@media (max-width: 560px) {
  .ideasIconContainer button .ideaIco {
    font-size: 3rem;
  }
}

.ideasIconContainer h3 {
  color: #FCF6D7;
  font-family: "Spartan";
  font-size: 2.2rem;
  padding-left: 20px;
}

@media (max-width: 560px) {
  .ideasIconContainer h3 {
    font-size: 1.6rem;
  }
}

.altIdeaContainer {
  width: 100%;
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.altIdeaContainer .ideasPhotoPage {
  width: 48%;
  min-height: 400px;
  margin: 10px 0;
  border: 4px solid #2D330C;
}

@media (max-width: 850px) {
  .altIdeaContainer .ideasPhotoPage {
    width: 35%;
    min-width: 300px;
    min-height: 300px;
  }
}

@media (max-width: 780px) {
  .altIdeaContainer .ideasPhotoPage {
    width: 100%;
    min-width: 100%;
  }
}

.altIdeaContainer .ideasPhotoPage img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.ideasContainer .page:nth-of-type(1) {
  border-top: none;
  border-right: 2px solid #2D330C;
  border-bottom: none;
}

@media (max-width: 780px) {
  .ideasContainer .page:nth-of-type(1) {
    margin-top: 20px;
    border: 4px solid #2D330C;
  }
}

.ideasContainer .page:nth-of-type(1):hover {
  border: 4px solid #2D330C;
}

.ideasContainer .page:nth-of-type(2) {
  border-top: none;
  border-left: 2px solid #2D330C;
  border-bottom: none;
}

@media (max-width: 780px) {
  .ideasContainer .page:nth-of-type(2) {
    margin-top: 20px;
    border: 4px solid #2D330C;
    margin-bottom: 20px;
  }
}

.ideasContainer .page:nth-of-type(2):hover {
  border: 4px solid #2D330C;
}

html {
  font-size: 70%;
  height: 100vh;
}

body {
  background-color: #eeeff1;
  height: 100vh;
}

body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

@media (max-width: 780px) {
  .wrapper {
    padding-left: 6%;
    padding-right: 6%;
  }
}

button {
  border: 5px solid #909B5C;
  background-color: white;
  font-family: "DM Sans";
  color: #444F09;
}

button:hover, button:focus {
  background-color: #FCF6D7;
}

input[type="radio"] {
  visibility: hidden;
}

label:hover, label:focus {
  background-color: #FCF6D7;
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App {
  text-align: center;
  height: 100%;
}
/*# sourceMappingURL=App.css.map */