@import url("https://fonts.googleapis.com/css?family=DM+Sans:700|Spartan&display=swap");
@import "styles/variables";
@import "styles/setup";
@import "styles/colors";
@import "styles/mixins";

// component partials
@import "styles/components/Logo";
@import "styles/components/AppBar";
@import "styles/components/MainContainer";
@import "styles/components/Splash";
@import "styles/components/Setting";
@import "styles/components/Choices";
@import "styles/components/Ideas";


// typography
html {
  font-size: 70%;
  height: 100vh;
}
body {
  background-color: $primary;
  height: 100vh;
}

body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
  @include mobile-land {
    // 780
    padding-left: 6%;
    padding-right: 6%;
  }
  
}


button {
  border: 4px solid $tint;
  background: $transparent;
  font-family: "DM Sans";
  color: $tint;
  &:hover,
  &:focus {
    background-color: $primaryLite;
  }

}

input[type="radio"] {
  visibility: hidden;   
}



label {
  &:hover,
  &:focus {
    background-color: $primaryLite;
  } 
}

ul {
  list-style: none;
  text-align: center;
  li {
    display: flex;
    justify-content: center;
  }
}

// General App
.App {
  text-align: center;
  height: 100%;
}
