@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

.App {
  font-family: 'Trade Winds', ;
  text-align: center;
  background-color: rgb(212, 128, 223);
  height: 100vh;
  margin: 0;
  padding: 0;
}


