@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import 'styles/variables';
@import 'styles/setup';
@import 'styles/colors';
@import 'styles/icons';
// component partials
@import 'styles/components/AppBar';
@import 'styles/components/MainContainer';



// typography
html {
  font-size: 70%;
}

body, html, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

// all wrappers
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

// General App
.App {
  text-align: center;
  background-color: $primary;
  height: 100vh;
}


